{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="{% static 'upswebsite/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'upswebsite/register.css' %}" rel="stylesheet" />
    <title>item</title>
</head>

<body>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="col"> 
            <div class="bd-example" style="width:100% !important">
                <caption><h4>items</h4></caption>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in productlist %}
                        <tr class="table-info">
                            <th scope="row">{{item.description}}</th>
                            <td>{{item.count}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
</body>

</html>
